.[all]

furo

# test requirements
pre-commit
black>=22.3.0
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
pytest-rerunfailures==10.2
sphinx>=2.4.0
sphinx-rtd-theme
sphinx-autodoc-typehints
flask
pandavro
fastavro
psutil
matplotlib
seaborn

duckdb-engine>=0.6.4

# publish to pypi
wheel
twine
