triad>=0.3.8
adagio>=0.2.0
qpd[dask]
sqlalchemy
pyspark>=3.0.0

# test requirements
pre-commit
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
sphinx
sphinx-rtd-theme

# publish to pypi
wheel
twine
