# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Full Tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all:
    name: Tests & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, "3.10", "3.11"]  # TODO: remove .8 when dask-sql updates

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make devenv
    - name: Install latest dask-sql
      if: matrix.python-version == '3.11'
      run: pip install git+https://github.com/dask-contrib/dask-sql.git
    - name: Lint
      if: matrix.python-version == '3.10'
      run: make lint
    - name: Test
      run: make test
    - name: "Upload coverage to Codecov"
      if: matrix.python-version == '3.10'
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: false

  no_spark:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make devenv
    - name: Test
      run: make testnospark
